## Operating System
# XDG Base Dir Spec
# https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html
/.cache
/.local

# MacOS System Files/Directories
.DS_Store
.localized

/.IdentityService/
/.ServiceHub/logs/
/.Trash*/
/Applications/
/Desktop
/Documents
/Downloads
/Library/
/Movies/
/Music/
/Pictures/
/Public/

# Windows System Files/Directories
/AppData/
/Application Data/
/Cookies/
/Documents/
/Downloads/
/Favorites/
/Links/
/Local Settings/
/My Documents/
/NetHood/
/PrintHood/
/Recent/
/Searches/
/SendTo/
/Start Menu/
/Templates/

NTUSER.DAT*
ntuser.*
desktop.ini

# Misc Windows Apps
/3D Objects/
/Intel/
/IntelGraphicsProfiles/
/MicrosoftEdgeBackups/
/.VirtualBox/
/.eclipse/
/.ipython/
/.node-stats/
/.pylint.d/
/.vagrant.d/
/.virtualenvs/
/.vault-token

# Misc Apps
/.adobe/
/.fb-adb/
/.mozilla/
/.var/
/.ueli/
/Virtual Machines.localized/

# Printer
/.cups/

# Filesyncing Services
/.dropbox/
/Creative Cloud Files/
/Google Drive/
/iCloud*Drive*/
/Dropbox/
/OneDrive*/

## User Dirs
/src/

## Empty Files
/.sudo_as_admin_successful
/.cloud-locale-test.skip

## Shells & CLI
# bash
/.bashrc
/.bash_profile
/.bash_logout

# direnv
/.env
/.envrc

# docker
/.docker

# ssh
/.ssh

# ansible
/.ansible

# kubernetes
/.kube

# github
/.config/gh/hosts.yml
/.config/gh/state.yml

# gnupg
/.gnupg

# terraform
/.terraform.d

# zsh
/.login
/.zprofile
/.zshrc

## GUI Apps
# GitKraken
/.gitkraken/

# Hyper
/.hyper.js
/.hyper_plugins/

# Visual Studio
/.dotnet/
/.mono/
/.templateengine/

## Package Managers
# ASDF
/.asdf

# .NET
/.aspnet/

# Cocoapods
/.cocoapods/

# Elm
/.elm-analyse/

# Gradle
/.tooling/gradle/

# Homebrew
/.linuxbrew

# Maven
/.m2/

# Nix
/Applications
/.nix-defexpr/
/.nix-profile

# Perl
/.cpan

# Snap
/snap/
/.snap/

# Scoop
/scoop/

## App Development
# Android Development
/.android/
    
# Dart files
/.dartServer/
/.pub-cache/

# Devspace
/.devspace/

# VirtualBox
/VirtualBox*/

# VS Code
/.vscode/extensions
/.vscode/*.yml

/.vscode-server

/.VSTeamServicesAuthPlugin/
