## Operating System
# XDG Base Dir Spec
# https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html
.cache/
.local/share/

# MacOS system Files/Directories
.DS_Store
.localized

.IdentityService/
.ServiceHub/logs/
.Trash*/
Library/

## User Dirs
src/

## CLI Apps
# gpg keys
.gnupg/

# ssh keys & known_hosts
.ssh/

# Kubernetes
.kube/

## GUI Apps
# GitKraken
.gitkraken/

# Hyper Terminal files
.hyper_plugins/

# Terraform
.terraform.d/
.terraformrc

# Visual Studio
.dotnet/
.mono/
.templateengine/

## Package Managers
.aspnet/

# Elm
.elm/
.elm-analyse/

# RubyGems
.bundle/
.gem/ruby/
.gem/specs/

# Cargo
.cargo/
.m2/

# Cocoapods
.cocoapods/

# NPM/Yarn
.npm/
.npmrc
.yarnrc
.node-gyp/

node_modules/

# NuGet
.nuget/

# Gradle
.gradle/
.tooling/gradle/

# Perl
.cpan/

## App Development
# Android Development
.android/

# Dart files
.dartServer/
.pub-cache/

# VS Code
.vscode/extensions

.vscode-server/

.VSTeamServicesAuthPlugin/

# Bash
.bash_profile
.bash_logout