## Operating System
# XDG Base Dir Spec
# https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html
.cache
.local

# MacOS System Files/Directories
.DS_Store
.localized

.IdentityService/
.ServiceHub/logs/
.Trash*/
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/

# Windows System Files/Directories
3D Objects/
AppData/
Application Data/
Cookies/
Documents/
Downloads/
Favorites/
Intel/
IntelGraphicsProfiles/
Links/
Local Settings/
MicrosoftEdgeBackups/
My Documents/
NetHood/
OneDrive*/
PrintHood/
Recent/
Searches/
SendTo/
Start Menu/
Templates/

NTUSER.DAT*
ntuser.*
desktop.ini

## User Dirs
src/

## CLI Apps
# bash
.bashrc
.bash_profile
.bash_logout

# direnv
.envrc

# ssh
.ssh/

# ansible
.ansible/

# kubernetes
.kube/

# gnupg
.gnupg

# zsh
.login
.zprofile
.zshrc

## GUI Apps
# GitKraken
.gitkraken/

# Hyper
.hyper_plugins/

# Terraform
.terraform.d/
.terraformrc

# Visual Studio
.dotnet/
.mono/
.templateengine/

## Package Managers
# .NET
.aspnet/

# Cargo
.cargo/
.m2/

# Cocoapods
.cocoapods/

# Elm
.elm/
.elm-analyse/

# Gradle
.gradle/
.tooling/gradle/

# NPM/Yarn
.npm/
.npmrc
.yarnrc
.node-gyp/

node_modules/

# NuGet
.nuget/

# Perl
.cpan/

# RubyGems
.bundle/
.gem/ruby/
.gem/specs/

# Snap
snap/
.snap/
.config/gh/hosts.yml
.config/gh/state.yml

## App Development
# Android Development
.android/

# Dart files
.dartServer/
.pub-cache/

# Devspace
.devspace/

# VirtualBox
VirtualBox*/

# VS Code
.vscode/extensions
.vscode/*.yml

.vscode-server/

.VSTeamServicesAuthPlugin/
