.mono/
configstore/
doctl/
Microsoft\\VisualStudio\ Services/
stetic/
xbuild/

# Tools
git/credentials
git/local.config

gnupg/

# Shims
shims/
versions/

jenv/*.time
pyenv/pyenv/
rustup/

# Azure
azure/commands
azure/logs
azure/telemetry
azure/az.json
azure/az.sess
azure/azureProfile.json
azure/telemetry.txt

# AWS
aws/credentials