/.mono/
/configstore/
/doctl/
/Microsoft\\VisualStudio\ Services/
/stetic/
/xbuild/

# Direnv
/direnv/direnvrc

# Tools
/git/credentials
/git/local_config

/gnupg/

# Shims
shims/
versions/

/npm/_cacache/
/npm/_locks/

/jenv/*.time
/rustup/

# Azure
/azure/commands
/azure/logs
/azure/telemetry
/azure/az.json
/azure/az.sess
/azure/azureProfile.json
/azure/telemetry.txt

# AWS
/aws/credentials

# Fish
/fish/completions/
/fish/functions/
/fish/conf.d/

# Snapcraft
/snapcraft/snapcraft.cfg

# VS Code
/Code/*
!Code/Dictionaries/
!Code/User/argv.json
!Code/User/settings.json

# Packer
/packer/
